.catalog-ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    background: #0A2030;

}
.catalog-ul li{
    margin-top: 30px;
    width: 30%;

}
.product-name{
    color:white;
}
.product-holder{
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
    padding: 10px;
}
.product-holder .product-name{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.product-image{
    width: 100%;
    margin-top: 10px

}
.product-image img{
    display: block;
    width: 100%;
}
.product-colors{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 10px;

}
.product-colors .product-color{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.product-color.red{
background: red;
}
.product-color.grey {
background: grey;
}
.product-color.black{
background-color: black ;
}


main{
    background: #0a2a43;
}
.borderbox{
    display: flex;
    align-items: center;
}
.catalog-holder{
    display: flex;
    justify-content: center;
}
.price{
    font-size: 25px;
    font-weight: normal;
    color: rgba(114, 215, 246, 0.952);
}
@media screen and (max-width: 950px){
    .catalog-ul li{
        width: 45%;
    
    }
}
@media screen and (max-width: 1320px){
    .product-holder .product-name{
        font-size: 20px;
    }
}
@media screen and (max-width: 1090px){
    .product-holder .product-name{
        font-size: 17px;
    }
}
@media screen and (max-width: 800px){
    .catalog-ul{
        width: 70%;
    }
}
@media screen and (max-width: 420px){
    .catalog-ul{
        width: 80%;
    }
}