.catalog-ul{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
}
.catalog-ul li{
    margin-top: 30px;
    width: 34%;

}
.product-name a{
    color:grey;
}
.product-holder{
    width: 70%;
    border: 1px white;
    box-sizing: border-box;
    padding: 10px;
    
}
.product-holder .product-name{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.product-image{
    width: 100%;
    margin-top: 10px

}
.product-image img{
    display: block;
    width: 100%;
}
/* .product-colors{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 10px;
} */
/* .product-colors .product-color{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
} */
/* .product-color.red{
background: red;
}
.product-color.grey {
background: grey;
}
.product-color.black{
background-color: black ;
} */

/* .view-more{
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    text-align: center;
    font-size: 25px;
} */
main{
    background: #0a2a43;
    
}
.catalog-holder{
    display: flex;
    justify-content: center;
    width: 100%;
}